<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2017/08/03/21/48/drinks-2578446_960_720.jpg');">
 <div class="container">
    <h1>Atomic Licquors</h1>
    <h4><span id="banner-typed-text"></span></h4>
    <%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-grad btn-1" %>
  </div>
</div>

<div class="container mt-5">
  <h2>Our drinks:</h2>
    <div class="cards mt-3">
      <% @cocktails.each do |cocktail| %>
       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(cocktail.photo, height: 300, width: 400, crop: :fill) %>')">
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </div>
    </div>
<% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
